<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="CSVFile" xsi:type="File"  fileName="${environment:NLOG_BASE}/Insurance/ThirdPartyApiLog-${date:format=MM-dd-yyyy}.csv"
            archiveEvery="Day" maxArchiveFiles="28">
      <layout xsi:type="CSVLayout">
        <column name="Index" layout="${counter}" />
        <column name="Time" layout="${longdate}" />
        <column name="Severity" layout="${level:uppercase=true}" />
        <column name="Location" layout="${callsite:className=False:fileName=True:includeSourcePath=False:methodName=False}" />
        <column name="Detail" layout="${message}" />
        <column name="Exception" layout="${exception:format=ToString}" />
      </layout>
    </target>
    <target name="debugger" xsi:type="Debugger" layout="${level}>${message} (${exception:format=ToString})"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="CSVFile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>